<div class="container" [@fadeIn]="true">
  <div class="wrap">
    <todo-component
      (*rc-events)="(todoEvents$); $event = $event.detail.event"
    >
  </todo-component>
  </div>
  <div class="wrap">
    <input
      [checked]="showLog"
      (change)="showLog = !showLog"
      type="checkbox"
      name="showLog"
      id="showLog"
    />
    <label for="showLog">Show log</label>
  </div>
      <log-component
      (*rc-events)="(logEvents$); $event = $event.detail.event"
      [class.showLog]="showLog"
      items="3"
    ></log-component>

</div>
